# Dependencies
node_modules/

# Production Outputs
dist/
dist-ssr/
build/

# Environment Configurations
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System & OS Files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploaded User Media
public/uploads/
